* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
}
/*

#ADA9B7 Silver Metallic
#A9AFD1 Wild Blue Yonder
#A1CDF4 Baby Blue Eyes
#7C809B Rhythm
#8CFFDA Aquamarine

*/

